@import '../../variables';

.header {
  padding: 14px 0 16px;

  box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
  background: $third;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1125px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  position: relative;
  margin: 0 25px;

  color: $dark;
  font-size: 25px;
  line-height: 29px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    height: 1px;
    width: 1%;
    background: $dark;
    border: 1px solid $dark;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
  }

  &:hover,
  & .header__link--active {
    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}
